button {
    background-color: #4BA87D;
    color: white;
}

.lightgreenbackground {
    background-color: #CAEAC7;
    color: black;
}

.darkgreenbackground{
    background-color: #4BA87D;
    color: white;
}